/* styles for the game board */
/* ------------------------- */


.boardmark {
    position: relative;
    display: block;
    left: 9.5%;
    top: 6%;
    width: 88%;
    height: 1020px;
    background-color: transparent;
}

#board {
    position: absolute;
    background-color: rgb(246, 232, 206);
    z-index: 1;
}

/* style for row holders within game board */
.board_row {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    margin: auto;
}

/* Style for individual tiles within game board.
Tiles are nested squares (square - rotated square - inner square).
The rotation and inner squares are used to create octagons and margins.
The overflow hides the rotated square edges
All tiles are set up to be dynamic so can be created in different sizes */
.square {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}

/* different colour tiles for sea, land, bases plus invisible tiles to change the overall board shape */
.square.sea {
    background-color: rgb(77, 210, 255);
    border: 1px solid rgb(77, 210, 255);
}

.square.land {
    background-color: rgb(230, 230, 0);
    border: 1px solid rgb(230, 230, 0);
}

.square.invis {
    background-color: rgb(247, 228, 212);
    border: 1px solid rgb(247, 228, 212);
}

.rotated_square {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    transform: rotate(45deg);
    overflow: hidden;
}

.inner_square {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    transform: translateX(-2px) translateY(-2px) rotate(45deg);
}

.sea {
    background-color: rgb(179, 237, 255);
    border: 2px solid blue;
}

.land {
    background-color: rgb(77, 210, 55);
    border: 2px solid green;
}

/* style for square not on the board */
.invis {
    background-color: rgb(247, 228, 212);
    border: 2px solid rgb(247, 228, 212);
}

/* colour for activated squares on movement */
.active {
    border: 2px solid rgb(255, 77, 77);
}
