/* Style for surround items  */
/* ------------------------- */

html {
    background-color: rgb(246, 232, 206);
    font-family: 'Palatino';
    margin: 0;
    color: rgb(137, 113, 82);
    font-size: 20px;

}

/* style for the frame corners */
.corner {
    font-family: 'Palatino';
    color: rgb(250,105,0);
    text-align: center;
    margin: 0;
    padding: 0%;
    height: 8%;
    background-color: rgba(138, 87, 50, 0.1);
    vertical-align: bottom;
}

/* style for the header */
.the_header {
   position: fixed;
   text-align: center;
   vertical-align: center;
   top: 0%;
   margin: 0%;
   padding: 0%;
   height: 5%;
   background-color: transparent;
   z-index: 40;
}

 /* style for the header */
.score_header {
    position: fixed;
    text-align: center;
    vertical-align: center;
    top: 0%;
    left: 6%;
    margin: 0%;
    padding: 0%;
    width: 88%;
    height: 12.5%;
    background-color: rgba(138, 87, 50, 0.1);
    transition: top 0.2s ease-in-out;
    z-index: 10;
}

/* style for the footer */
.the_footer {
    text-align: right;
    display: block;
    bottom: 0%;
    left: 6%;
    margin: 0%;
    padding: 0%;
    width: 88%;
    height: 8%;
}

/* style to fix the header and footer and prevent scrolling */
.over_text {
    position: fixed;
    z-index: 15;
}

.under_text {
    position: static;
    width: 100%;
    background-color: rgb(254,252,250);
    padding-top: 1%;
}

/* style for the frame sidebars */
.sidebar {
    position: fixed;
    top: 0%;
    margin: 0%;
    padding: 0%;
    height: 84%;
    top: 8%;
    background-color: rgba(138, 87, 50, 0.1);
    overflow: scroll;
}

.left {
    left: 0%;
    width: 6%;
}

.right {
    right: 0%;
    width: 6%;
}

.top {
    top: 0%;
}

.bottom {
    bottom: 0%;
}


.title_box {
    position: relative;
    top: 20%;
}

/* style for contents boxes in the footer - TEMPORARY */
.contents_box {
    position: fixed;
    transform: translateY(0%);
    display: inline;
    background-color: rgb(254,252,250);
    text-align: center;
    margin: 0%;
    border: 1px solid grey;
    padding: 0.5% 0.5% 0.5% 0.5%;
    z-index: 1;
}

/* commentary box */
.commentary {
    position: fixed;
    text-align: center;
    bottom: -10%;
    height: 6.5%;
    left: 0%;
    font-style: italic;
    padding: 0.5% 0% 0.5% 0%;
    color: rgb(137, 113, 82);
    font-size:0.8em;
    line-height: 140%;
    z-index: 15;
    background-color: rgba(138, 87, 50, 0.1);
    transition: bottom 0.2s ease-in-out;
}

/* commentary box */
.building {
    position: fixed;
    text-align: left;
    bottom: -15%;
    height: 10%;
    left: 0%;
    font-style: italic;
    padding: 0.5% 0% 0.5% 0%;
    color: rgb(137, 113, 82);
    font-size:0.8em;
    line-height: 140%;
    z-index: 15;
    background-color: rgba(138, 87, 50, 0.1);
    transition: bottom 0.2s ease-in-out
}

#firstBuildLine, #secondBuildLine, #thirdBuildLine {
    position: relative;
}

/* Header slider commentator holder formats*/
.commentator_holder {
    position: relative;
    padding: 0%;
    margin: 0.5% 2% 0.5% 2%;
    width: 20%;
    height: 10%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-style: italic;
}

/* Header slider score holder formats*/
.contest_holder {
    position: relative;
    padding: 0%;
    margin: 0.5% 2% 0.5% 2%;
    width: 10%;
    display: inline-block;
    text-align: left;
    vertical-align: center;
    /*border: 1px solid black;*/
}

.contest_inner {
    position: relative;
    display: block;
    padding: 1%;
    margin: 0%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    /*border: 1px solid black;*/
}

/* Header slider score holder formats*/
.team_name {
    position: relative;
    display: inline-block;

    padding: 1%;
    margin: 0%;
    width: 73%;

    text-align: left;
    vertical-align: center;
    font-weight: normal;
    font-size: 80%;
    /*border: 1px solid black;*/
}

/* Header slider score holder formats*/
.team_score {
    position: relative;
    display: inline-block;

    padding: 1%;
    margin: 0%;
    width: 20%;

    text-align: center;
    vertical-align: center;
    font-weight: normal;
    font-size: 80%;
    /*border: 1px solid black;*/
}

/* Side bar item holders and inner item formats*/
.item_holder {
    position: relative;
    margin-left: 10%;
    margin-top: 15%;
    padding: 2.5%;
    width: 80%;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    font-weight: bold;
}

.inner_item_holder {
    position: relative;
    vertical-align: bottom;
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 0%;
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 100%;
    font-weight: normal;
}

.stock_item_holder {
    position: relative;
    vertical-align: bottom;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 0%;
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-left: 0%;
    font-size: 80%;
    font-weight: normal
}

.dashboard_text {
    position: relative;
    display: inline-block;
    padding-left: 40%;
    padding-bottom: 2%;
    font-size: 90%;
    vertical-align: bottom;
}


.cog {
    position: absolute;
    background-color: transparent;
    z-index: 10;
}

/* Footer icon holders */
.icon_holder {
    position: absolute;
    display: block;
    /*text-align: center;
    vertical-align: top;*/

    color: rgb(137, 113, 82);
    background-color: transparent;

    z-index: 20;
}

/* Style for text under icons */
.icon_text {
    position: absolute;
    display: block;
    bottom: 0%;
    height: 25%;
    width: 60%;
    padding: 0%;
    color: black;
    background-color: transparent;
    text-align: left;
    padding-left: 25%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 80%;
    vertical-align: bottom;
}

/* End of turn icon */
.end_turn {

    position: fixed;
    top: -1px;
    margin-top: 0%;
    margin-left: 0%;


    border-radius: 50%;
    background-color: rgb(231, 190, 151);
    border: 1px solid black;

}

/* Settings icon */
.settings {
    display: inline-block;
    position: relative;
    top: 0px;
    margin-top: 0%;
    margin-left: 0%;
    vertical-align: center;
    height: 60%;
    width: 80%;
    border-radius: 50%;
    background-color: grey;


    transform:  scale(1, 1);
}

.settings_teeth {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: grey;
    border-radius: 10%;

}

.teethrotate0 {
    transform:  translate(-50%,-50%) rotate(0deg) scale(0.26, 1.15);
}

.teethrotate45 {
    transform:  translate(-50%,-50%) rotate(45deg) scale(0.26, 1.15);
}

.teethrotate90 {
    transform:  translate(-50%,-50%) rotate(90deg) scale(0.26, 1.15);
}

.teethrotate135 {
    transform:  translate(-50%,-50%) rotate(135deg) scale(0.26, 1.15);
}

.settings_inner {
    display: inline-block;
    position: relative;
    top:12%;
    margin-top: 0%;
    margin-left: 0%;
    vertical-align: top;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: rgb(246, 232, 206);
    border: 1px solid grey;
}

/* Transparent covering for full screen when settings panel is called up */
.settings_popup, .scroll_popup {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    font-size: 0.8em;
    z-index: 20;
}

.popup_cog {
    display: none;
    position: fixed;

}

.popup_panel {

    position: fixed;

}

/* Settings panel style */
.settingspopup_inner {
    position: fixed;
    background-color: grey;
    width: 350px;
    height: 350px;
    bottom: 14%;
    right: 14%;
    padding: 0;
    color: rgb(137, 113, 82);
    border-radius: 50%;
    border: 0px solid grey;
    text-align: center;
    vertical-align: top;
}

/* A separate inner circle is required for the large settings panel */
.settings_inner2 {
    display: inline-block;
    position: relative;
    top:10%;
    margin-top: 0%;
    margin-left: 0%;
    vertical-align: top;
    padding: 5%;
    height: 68%;
    width: 68%;
    border-radius: 50%;
    background-color: rgb(251, 242, 234);
    border: 1px solid grey;
}

/* Settings button styles */
.settings_holder {
    position: relative;
    top: 5%;
    width: 70%;
    margin: 0% 13% 5% 13%;
    height: 18%;
    padding: 2%;
    display: block;
    color: rgb(254, 252, 250);
    background-color: grey;
    border: 1px solid grey;
}

.settings_button {
    display: inline-block;
    width: 40%;
    margin: 4% 2% 2% 2%;
    color: grey;
    background-color: rgb(254, 252, 250);
    cursor: pointer;
}

/* Settings close button */
.settings_close {
    font-size: 28px;
    font-weight: bold;
}

.settings_close:hover, .settings_close:focus {
    color: black;
    cursor: pointer;
}
