/* Style for surround items  */
/* ------------------------- */

html {
    background-color: rgb(254,252,250);
    font-family: 'Palatino';
    margin: 0;
    color: rgb(137, 113, 82);
    font-size: 20px;
}

.dashboard_text {

    font-size: 0.8em;
}

/* style for the frame corners */
.corner {
    font-family: 'Palatino';
    color: rgb(250,105,0);
    text-align: center;
    margin: 0;
    padding: 0%;
    height: 8%;
}

 /* style for the header */
.the_header {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(251, 242, 234);
    top: 0%;
    left: 10%;
    margin: 0%;
    padding: 0%;
    width: 80%;
    height: 8%;
    border-bottom: 1px solid grey;
}

/* style for the footer */
.the_footer {
    text-align: right;
    display: block;
    background-color: rgb(231, 175, 126);
    bottom: 0%;
    left: 10%;
    margin: 0%;
    padding: 0%;
    width: 80%;
    height: 8%;
    border-top: 1px solid grey;
}

/* style to fix the header and footer and prevent scrolling */
.over_text {
    position: fixed;
    background-color: rgb(251, 242, 234);
    z-index: 10;
}

.under_text {
    position: static;
    width: 100%;
    background-color: rgb(254,252,250);
    padding-top: 1%;
}

/* style for the frame sidebars */
.sidebar {
    position: fixed;

    font-size: 0.5em;

    background-color: rgb(251, 242, 234);
    top: 0%;
    margin: 0%;
    padding: 0%;
    height: 84%;
    top: 8%;
}

.left {
    left: 0%;
    width: 10%;
}

.right {
    right: 0%;
    width: 10%;
}

.top {
    top: 0%;
}

.bottom {
    bottom: 0%;
}

.left.sidebar {
    border-right: 1px solid grey;

}

.right.sidebar {
    right: 0%;
    width: 10%;
    border-left: 1px solid grey;
    text-align: center;
}

.title_box {
    position: relative;
    top: 20%;
}

/* style for contents boxes in the footer - TEMPORARY */
.contents_box {
    position: fixed;
    transform: translateY(0%);
    display: inline;
    background-color: rgb(254,252,250);
    text-align: center;
    margin: 0%;
    border: 1px solid grey;
    padding: 0.5% 0.5% 0.5% 0.5%;
    z-index: 1;
}

/* commentary box */
.commentary {
    left: 18%;
    bottom: 1%;
    height: 2%;
    width: 30%;
    font-style: bold;
    text-align: left;
    overflow: hidden;
    padding: 1% 1% 1% 1%;
    color: grey;
    font-size:0.6em;
}

/* Side bar item holders and inner item formats*/
.item_holder {
    position: relative;
    margin-left: 10%;
    padding: 2.5%;
    width: 75%;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
}

.inner_item_holder {
    position: relative;
    vertical-align: bottom;
    padding-top: 4%;
    padding-bottom: 2%;
    width: 75%;
    display: inline-block;
    text-align: left;
    font-size: 100%;
}

.dashboard_text {
    position: relative;
    display: inline-block;
    padding-left: 4%;
    padding-bottom: 2%;
    font-size: 0.8em;
    vertical-align: bottom;
}


/* Footer icon holders */
.icon_holder {
    margin-right: 2%;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    top: 10%;
    height: 0;
    color: rgb(137, 113, 82);
    background-color: rgb(251, 242, 234);
    text-align: center;
}

/* Style for text under icons */
.icon_text {
    position: relative;
    display: block;
    text-align: center;
    top: 8%;
    height: 35%;
    width: 100%;
    padding: 0%;
    color: rgb(137, 113, 82);
    background-color: rgb(251, 242, 234);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 50%;
}

/* End of turn icon */
.end_turn {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-top: 0%;
    margin-left: 0%;
    vertical-align: top;
    height: 60%;
    width: 80%;
    border-radius: 50%;
    background-color: rgb(231, 190, 151);
    border: 1px solid rgb(137, 113, 82);
}

/* Settings icon */
.settings {
    display: inline-block;
    position: relative;
    top: 0px;
    margin-top: 0%;
    margin-left: 0%;
    vertical-align: center;
    height: 60%;
    width: 80%;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid rgb(251, 242, 234);
    transform:  scale(1, 1);
}

.settings_teeth {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: grey;
    border-radius: 10%;
}

.teethrotate0 {
    transform:  translate(-50%,-50%) rotate(0deg) scale(0.26, 1.15);
}

.teethrotate45 {
    transform:  translate(-50%,-50%) rotate(45deg) scale(0.26, 1.15);
}

.teethrotate90 {
    transform:  translate(-50%,-50%) rotate(90deg) scale(0.26, 1.15);
}

.teethrotate135 {
    transform:  translate(-50%,-50%) rotate(135deg) scale(0.26, 1.15);
}

.settings_inner {
    display: inline-block;
    position: relative;
    top:12%;
    margin-top: 0%;
    margin-left: 0%;
    vertical-align: top;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: rgb(251, 242, 234);
    border: 1px solid grey;
}

/* Transparent covering for full screen when settings panel is called up */
.settings_popup {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.25);
    font-size: 0.8em;
    z-index: 1;
}

/* Settings panel style */
.settingspopup_inner {
    position: fixed;
    background-color: grey;
    width: 350px;
    height: 350px;
    bottom: 14%;
    right: 14%;
    padding: 0;
    color: rgb(137, 113, 82);
    border-radius: 50%;
    border: 0px solid grey;
    text-align: center;
    vertical-align: top;
}

/* A separate inner circle is required for the large settings panel */
.settings_inner2 {
    display: inline-block;
    position: relative;
    top:10%;
    margin-top: 0%;
    margin-left: 0%;
    vertical-align: top;
    padding: 5%;
    height: 68%;
    width: 68%;
    border-radius: 50%;
    background-color: rgb(251, 242, 234);
    border: 1px solid grey;
}

/* Settings button styles */
.settings_holder {
    position: relative;
    top: 5%;
    width: 70%;
    margin: 0% 13% 5% 13%;
    height: 18%;
    padding: 2%;
    display: block;
    color: rgb(254, 252, 250);
    background-color: grey;
    border: 1px solid grey;
}

.settings_button {
    display: inline-block;
    width: 40%;
    margin: 4% 2% 2% 2%;
    color: grey;
    background-color: rgb(254, 252, 250);
    cursor: pointer;
}

/* Settings close button */
.settings_close {
    font-size: 28px;
    font-weight: bold;
}

.settings_close:hover, .settings_close:focus {
    color: black;
    cursor: pointer;
}
